@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.text {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}
.text:hover {
    text-shadow: 0 0 10px #fff;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}}
::-webkit-resizer { background-color: #666;}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: block;
}

.pace .pace-progress {
  background: #dfe6e9;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

    #pg {
      width:100%;
      height:100%;
      position: fixed;
      z-index: -1;
      opacity: 0.25;
    }
    .box {
      padding: 20px;
      text-align: center;
      position: relative;
      overflow: hidden;
    }
    .bg-blackon#5126
    background-color:#23272A; color:#fff; border: solid 1px #fff; width:95%; width:95%; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
    }
    .bg-blackonwhite{
    color: #bdc3c7; width:95%; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
      }

      body {
  /* Never get smaller than this */
  font-size: 14px;
}

.main {
  max-width: 50%;
  height: auto;
}

@media only screen and (max-device-width : 640px) {
  .main {
    max-width: 90%;
    height: auto;
  }
}

@media only screen and (max-device-width: 768px) {
  .main {
    max-width: 90%;
    height: auto;
  }
}

h3 {
  font-size: 3vw;
}

@media (min-width:600px) {
  body {
    font-size: 14px;
  }
  h3 {
    font-size: 3vh;
  }

}

@media (min-width:800px) {
  body {
    font-size: 16px;
  }
  h3 {
    font-size: 3vh;
  }
}

@media (min-width:1000px) {
  body {
    /* Never get larger than this */
    font-size: 18px;
  }
  h3 {
    font-size: 3vh;
  }
}
