.divide {
padding: 0;
margin: 0;
margin-bottom: 30px;
background: #1e5799;
background: -moz-linear-gradient(left,  #1e5799 0%, #f300ff 50%, #e0ff00 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(50%,#f300ff), color-stop(100%,#e0ff00));
background: -webkit-linear-gradient(left,  #1e5799 0%,#f300ff 50%,#e0ff00 100%);
background: -o-linear-gradient(left,  #1e5799 0%,#f300ff 50%,#e0ff00 100%);
background: -ms-linear-gradient(left,  #1e5799 0%,#f300ff 50%,#e0ff00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e0ff00',GradientType=1 );
height: 1.9px;
border-bottom: 1px solid #000;
}
#client {
font-size: 11pt;
margin-top: -30px;
width: 100px;
height: 60px;
background-color: rgba(255,0,100,0.5);
border-radius: 10px;
color: #eee;
padding-top: 35px;
text-align: center;
font-weight: normal;
}
#client a:link,
#client a:hover,
#client a:visited
color: #eee;
text-decoration: none;
}
#CenterText {
margin-bottom: 60px;
padding-bottom: 20px;
}
#CenterText h1 {
text-align: center;
margin: 0 auto;
padding: 0;
font-size: 53pt;
font-weight: normal;
color: #eee;
height: 120px;
cursor: default;
}
#CenterText h2 {
margin-top: -49px;
margin-left: 280px;
padding: 0;
text-align: center;
font-size: 12pt;
color: #666;
font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
cursor: default;
}
#CenterText h3 {
margin: 0;
cursor: default;
}
#CenterText p {
margin: 0;
padding: 0;
cursor: default;
}
#CenterText span {
color: #cf6400;
font-family: Raleway,Helvetica Neue,Helvetica,sans-serif;
cursor: default;
}
button:focus {
outline:none;
}
.Register {
background-color: #1B1B1D00;
color: #FFFFFF;
padding: 20px
margin: 10px;
font-family: Arial;
font-size: 16px;
line-height: 24px;
position: relative;
box-sizing: border-box;
transition: all 400ms ease
height:200px;
width:200px;
border-color: #FFFFFF
border-style: solid;
border-bottom-style: solid;
border-right-style: solid;
cursor: pointer;
}
#RegisterBtn {
margin-top: 10px;
}
.SignIn {
background-color: #cf6400;
border: none;
color: #1B1B1D;
padding: 20px
margin: 10px;
font-family: Arial;
font-size: 16px;
line-height: 24px;
position: relative;
box-sizing: border-box;
transition: all 400ms ease
height:200px;
width:200px;
cursor: pointer;
}

#SignInBtn {
margin-top: 30px;
background: #cf6400
}
.scroll {
position: fixed;
top: 0;
left: 0;
overflow: hidden;
width:100%;
height:100%;
}
#gradient {
width: 100%;
height: 4px;
color: #fff;
background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
background-size: 250% 250%;
-webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}
@-moz-keyframes Gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}
@keyframes Gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}
body, body * {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto";
}
nav {
width: 100vw;
height: 80px;
background: #FFF;
box-shadow: 0 5px 45px 2px rgba(0, 0, 0, 0.05);
display: grid;
grid-template-columns: 1fr 2fr 1fr;
justify-content: center;
align-items: center;
}

.Fading {
animation: Fading 10s infinite
}
@keyframes Fading {
0% {
opacity: 0
}
50% {
opacity: 1
}
100% {
opacity: 0
}
}

.SignIn2 {
background-color: #4EB8CE;
color: #1B1B1D;
width: 75%;
padding: 6px;
margin-right: 20px;
margin-left: 20px;
margin-bottom: 8px;
margin-top: 14px;
font-family: Arial;
font-size: 16px;
line-height: 24px;
position: relative;
box-sizing: border-box;
transition: all 400ms ease
border-width: 2px;
border-color: #ffffff;
border-style: solid;
cursor: pointer;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
​
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}